{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "jest": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "@typescript-eslint/indent": "off",
    "quotes": ["error", "single", { "avoidEscape": true }],
    "simple-import-sort/imports": "error",
    "sort-imports": "off",
    "import/order": "off",
    "no-dupe-class-members": "off",
    "no-shadow": "error",
    "arrow-parens": "off",
    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": "error"
  },
  "plugins": ["@typescript-eslint", "simple-import-sort", "node", "import", "prettier", "promise"],
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "extends": ["standard", "semistandard", "plugin:@typescript-eslint/recommended", "prettier"],
  "ignorePatterns": ["src/polkadot/", "src/middleware/", "docs/*"]
}
